#your-progress-bar {
    display: block;
    background: rgba(255, 198, 39, 1);
    /* border-style: none; */
    /* border-radius: 0px; */
    z-index: 15;
    width: 100%;
    /* max-width:800px; */
    min-height: 25vh;
}

.fundraiser-wrapper {
  padding: 20px;
}

.current-funraising-title {
  text-align: center;
  color: #003221;
}

.fundraiser-progress-bar-wrapper {
  
}

.fundraiser-progress-bar-details {
  margin-bottom:5px;
  padding: 0 15px;
}

.progress-bar-goal {
  float: right;
}

.fundraiser-progress-bar {
  
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Get rid of default border in Firefox. */
  border: none;
  
  /* Dimensions */
  width: 100%;
  height: 40px;
  border-radius: 20px;
  
  /* For IE10 */
  color: #003221; 
}

progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px #003221 inset;
} 

progress[value]::-webkit-progress-value { 
  background-color: #003221;
  border-radius: 20px 0 0 20px;
}

progress[value]::-moz-progress-bar { 
  background-color: #003221;
  border-radius: 20px 0 0 20px;
}

progress[value]::-moz-progress-value::before {
  content: attr(value);
  position: absolute;
  right: 0;
  bottom: 25%;
}

.fundraiser-progress-bar-details-numbers {
  margin-top:5px;
  padding: 0 15px;
}

.progress-bar-percent {
  position: absolute;
}

.progress-bar-contributors { 
  float: right;
}


/* Fallback Styles */
.fallback-progress-bar {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px #003221 inset;
  width: 100%;
  height: 20px;
  
  position: relative;
  display: block;
}
  
.fallback-progress-bar > span {
  background-color: #003221;
  border-radius: 2px;
  display: block;
  
  /* Screen Reader Text */
  text-indent: -9999px;
}

.button {
  width: 15px;
  height: 15px;
  background-color: #f2dede;
  margin-left: 2px !important;
}
p {
	display: inline;
}

/* select currency START*/
.wrapper {
  padding:4em;
  padding-bottom: 0;
}

.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
    width: 60px;
}

.currency-selector {
  position: relative;
  left: 0;
  top: 0;
  width: 4em;
  height: 100%;
  padding-left: .5rem;
  border: 0;
  background: transparent;
  
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1024' height='640'><path d='M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z'></path></svg>") 90%/12px 6px no-repeat;
  
  font-family: inherit;
  color: inherit;
}

.currency-amount {
  text-align: right;
}

.currency-addon {
  width: 6em;
  text-align: left;
  position: relative;
}

.input-group-addon:first-child {
  border-right: 0;
  width: 60px !important;
}
/* select currency END*/

#container {
  visibility: hidden;
}

#loader {
color: #008cff;
height: 40px;
left: 45%;
position: absolute;
top: 45%;
width: 30%;
}
.e-btn-group {
margin: 25px 5px 20px 20px;
}