body,
html {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: var(--heading-color);
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  background: black;
}

h2,
h3,
h4 {
  font-family: var(--font-secondary);
}

h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: var(---heading-color);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(---heading-color);
}

h4 {
  font-size: 18px;
  color: var(---heading-color);
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: var(--link-color);
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-color);
}

ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}